body {
  color: $color2;
}

a {
  text-decoration: none;
  color: $color2;
}

.contrast-bg {
  background: $bg-color2;
}

.developer-section {
  &__projects-btn {
    color: $color3;
  }

  &__swipe-projects {
    .iconify {
      color: $color3;
    }
  }
}

.header__progress-bar {
  background: $progress-bar-color;
}

.project-item {
  border: 1px solid $color3;

  &__img {
    border-bottom: 1px solid $color3;
  }
}

.project-item__repository-link {
  background: $color1;
}

.about-section {
  .stack,
  .email,
  .iconify {
    color: $color3;
  }
}
