$indicator-color: linear-gradient(to right, #ff512f, #f09819);
$bg-color1: linear-gradient(to right, #093028, #237a57);
$bg-color2: rgba(#093028, 0.7);
$bg-color3: #093028;
$color1: #237a57;
$color2: #fff;
$color3: #ff512f;

body {
  background: $bg-color1;
  color: $color2;
}

a {
  text-decoration: none;
  color: $color2;
}

.developer-section {
  background: $bg-color2;
  .iconify {
    color: $color3;
  }
}

.header__indicator {
  background: $indicator-color;
}

.project-item {
  border: 3px solid $color3;

  &__img {
    border-bottom: 3px solid $color3;
  }

  &__title {
    background: $bg-color3;
  }
}

.project-item__repository-link {
  background: $color1;
}
.about-section {
  .stack,
  .email,
  .iconify {
    color: $color3;
  }
}
