$bg-color1: #2D3A54;
$bg-color2: #15202b;
$font-color1: #1da0f2;
$font-color2: #fff;

body{
    background: $bg-color1;
    color: $font-color2;
}

.developer-section{
    .iconify{
         color: $font-color1;
    }
}

.projects-section{

    #projects{
        .project-stack{
            background: $bg-color2;
        }

        .project-title{
            color: $font-color2;
            font-weight: bold;
        }
    }
}

.about-section{
    .stack,.email,.iconify{
        color: $font-color1;
    }

}
