//Common layout rules
.projects-section-bg {
  background: url("/../images/rocket-2.webp");
  background-size: cover;
  background-position: center;
}

.projects-section {
  min-height: 100vh;
}

.header {
  height: 10vh;

  &__progress-bar {
    width: 0%;
    height: 5px;
    position: sticky;
    top: 0;
  }

  &__title {
    text-align: center;
    text-transform: capitalize;
  }
}

.projects-container {
  height: 90vh;
}

.project-item {
  border-radius: 1rem;

  &__img-container,
  &__img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &__img-container {
    position: relative;
  }

  &__img {
    width: 100%;
    height: inherit;
  }

  &__title {
    display: grid;
    place-items: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &__repository-link {
    display: none;
    width: 35%;
    height: 20%;
    border-radius: 2rem;
    position: absolute;
    top: 40%;
    right: 30%;
    z-index: 1;
  }
}

//Layout rules for mobile devices
@media screen and (min-width: 320px) and (max-width: 800px) {
  .header {
    &__title {
      font-size: 5vw;
    }
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .project-item {
      width: 80vw;
      height: 55vw;
      margin-bottom: 3rem;

      &__img-container {
        height: 44vw;
      }

      &__title {
        height: 11vw;
        font-size: 4.4vw;
      }
    }
  }
}

//Layout rules for small screens
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .header {
    &__title {
      font-size: 4vw;
    }
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;

    .project-item {
      width: 45vw;
      height: 25vw;

      &__img-container {
        height: 20vw;
      }

      &__title {
        height: 5vw;
        font-size: 2.5vw;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .header {
    &__title {
      font-size: 4vw;
    }

    &__progress-bar {
      height: 0.4vw;
    }
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;

    .project-item {
      width: 28vw;
      height: 16vw;

      &__img-container {
        height: 12.8vw;
      }

      &__title {
        height: 3.2vw;
        font-size: 1.8vw;
      }
    }
  }
}
