.developer-section {
  &__projects-btn:focus {
    outline: none;
    color: $color2;
  }

  &__swipe-projects,
  &__projects-btn {
    animation-duration: 1s;
    animation-iteration-count: 5;
  }
}

.project-item:hover {
  .project-item__img-container {
    background-color: $bg-color2;
  }

  .project-item__img {
    opacity: 0.6;
  }

  .project-item__repository-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    @media screen and (min-width: 1441px) {
      border-radius: 3rem;
    }

    .iconify {
      font-size: 1.5rem;
      margin-left: 0.5rem;

      @media screen and (min-width: 1441px) {
        font-size: 3rem;
        margin-left: 1rem;
      }
    }
  }
}

.project-item__title:focus {
  outline: none;
  color: $color3;
}

.project-item__title:hover {
  font-weight: bold;
  color: $color3;
}

.project-item__repository-link:active {
  background: $color3;
}

.project-item__title:active {
  color: $color3;
}

.about-section__social-media {
  a:hover {
    .iconify {
      color: $color2;
    }
  }

  a:focus {
    outline: none;
    .iconify {
      color: $color2;
    }
  }
}

.hidden-section {
  display: none;
}
